* {
    
    box-sizing: border-box;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 768px) {
  body {background: blue;}
  .employement {
      grid-template-areas:
      'header'
      'main'
      'section';
  }
} 
/* 
.grid {
    grid-template-areas: {
        'header'
        'main'
        'section';
        width: 100%;
} */

/* .employement-align {
    width: calc(100%+2rem);
    margin: 0 -1rem;
} */



/* @media all and (min-width:576px) {
    .educo, .education, .employement, {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        margin-bottom: 1rem;
    }
} */

@media all and (min-width:768px) {
    .grid {
        grid-template-areas:
        'header section main section section';
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }
}


html {
      background: rgb(252,176,69);
}

header {
    display: grid;
    grid-template-columns: 10% 75% auto;
    grid-gap: 10px;
    /* background-color: aqua; */
    padding: 10px;
}

header > div {
  text-align: center;
}

a {
    text-decoration: none;
    color:#0000EE;
}

.item2 {
    /* 1,2 = item2 starts on row 1 and column 2; 4 = ends on column line 4 */
    grid-area: 1 / 2 / 4 ;
    align-self: center;
    font-size: 35px;
    font-weight: bold;
}

.customHrLine {
    line-height: 1px;
    background-color: grey;
    margin-top: -20px;
}

.educo {
   display: flex;
   justify-content: space-between;
}

.educo-university {
    justify-self: center;
    margin-top: -25px;
    line-height: 3px;
}

.education {
    margin-top: -5px;
}

.employement {
    display: grid;
    grid-template-columns: 41% 25% 34%;

}
.employement-align {
    justify-self: start;
    line-height: 3px;
}
.left {
    justify-self: end;
}
.centered {
    justify-self: center;
    margin-left: -270px;
}

.emplo {
    list-style: none;
    margin-left: 2px;
    margin-top:-10px;
}

.ul-margin-top {
    margin-top: -20px;
}

.underline {
    text-decoration: underline;
}

.first-letter{
    font-size: 150%;
}

.skill-left {
    margin-left: -25px;
}

.skill-left li {
    list-style-type: disc;
    margin-left: 0.3em;
    font-size: 1.5em;
}

.software-dashed {
    list-style-type: none;
}

.software-dashed > li:before {
    content: " - ";
    position: absolute;
    margin-left: -1.1em;
}

header, section, main {
    padding: 10px;
    transition: .7s ease-out;
}

section, main {
    margin-top: -26px;
}

section:hover, header:hover, main:hover{
    background: lightgrey;
}

